In [2]:
#Covert a iteger to a floatig-poit umber.
a = 65
b = float(a)
print("Type of a ", type(a))
print("Type of b", type(b))

Type of a  <class 'int'>
Type of b <class 'float'>

In [4]:
#Covert a float to a iteger.
a = 65.6
b = int(a)
print("Type of a ", type(a))
print("Type of b", type(b))

Type of a  <class 'float'>
Type of b <class 'int'>

In [6]:
#Covert an integer to a string.
a = 123
b = str(a)
print("Type of a ", type(a))
print("Type of b", type(b))

Type of a  <class 'int'>
Type of b <class 'str'>

In [8]:
#Covert a li%t to a tuple.
li = [1,2,3,4,5]
tu = tuple(li)
print("Type of li ", type(li))
print("Type of tu", type(tu))

Type of li  <class 'list'>
Type of tu <class 'tuple'>

In [13]:
#Covert a tuple to a list.
tu = (1,2,3,4,5)
li = list(li)
print("Type of li ", type(li))
print("Type of tu", type(tu))

Type of li  <class 'list'>
Type of tu <class 'tuple'>

In [24]:
# Convert a decimal number to binary.
del bin
n = 15
binary_string = bin(n)
binary_string = binary_string.replace("0b", "")
print(binary_string)

1111

In [25]:
# Convert a binary to decimal.
bin = "1001"
print(int(bin,2))

9

In [27]:
#Convert a non-zero number to a boolean.
a = 12
b = bool(a)
print("Type of a ", type(a))
print("Type of b", type(b))

Type of a  <class 'int'> 12
Type of b <class 'bool'> True